@import "header.less";
@import "flex.less";


///Page///
.wrapper{
    margin: 300px;
    margin-top: 20px
}

///Images////
img.service-img {
    width: 100%;
}

img.alignnone.size-full.wp-image-32,
img.alignnone.size-full.wp-image-33{
    width:10%;    
}



.service{
    padding: 10px;
}

///Fonts////
h2.title{ 
    text-align: center;
}

///Footer///
img.foot-logo-img {
    width: 5%;
    padding-top: 10%;
}

///Nav///
nav.nav{
    display: inline-block;
    margin-left: 80%;
    padding-top: 4%;
    text-align: center;
}


///Forms////
form#cf-email{
    position: absolute;
    padding-left: 40%;
    padding-top: 5%;
    border: 0px;
    text-align: left;
    line-height: 25px;
}


form#client-login{
    position: absolute;
    padding-left: 40%;
    padding-top: 5%;
    border: 0px;
    text-align: left;
    line-height: 25px;
}


///Footer///
img.foot-logo-img {
    width: 5%;
    padding-top: 10%;
}

