img.logo-img {
  width: 15%;
  display: inline-block;
  padding-left: 1px;
}
.logo {
  height: 0;
}
nav.nav {
  display: inline-block;
  margin-left: 60%;
  padding-top: 4%;
}
nav.nav ul {
  list-style-type: none;
}
.lace {
  width: 100%;
  padding-top: 2px;
}
.col-top,
.col-bottom {
  display: flex;
  padding-top: 4.5%;
  flex: auto;
}
body {
  background-image: url('city.gif');
}
.wrapper {
  margin: 300px;
  margin-top: 20px;
}
img.service-img {
  width: 100%;
}
avatar-blue,
avatar-purple {
  width: 10%;
}
.service {
  padding: 10px;
  text-align: center;
  align-content: center;
}
h2.title {
  text-align: center;
}
a:hover {
  color: black;
}
a:active {
  color: green;
}
a:visited {
  color: orange;
}
img.foot-logo-img {
  width: 5%;
  padding-top: 10%;
}
nav.nav {
  display: inline-block;
  margin-left: 80%;
  padding-top: 4%;
  text-align: center;
  text-decoration: none;
}
form#cf-email {
  position: absolute;
  padding-left: 40%;
  padding-top: 5%;
  border: none;
  text-align: left;
  line-height: 25px;
}
form#client-login {
  position: absolute;
  padding-left: 40%;
  padding-top: 5%;
  border: 0px;
  text-align: left;
  line-height: 25px;
}
img.foot-logo-img {
  width: 5%;
  padding-top: 10%;
}
h1 {
  text-align: center;
}
