@import "header.less";
@import "flex.less";
@import "fonts.less";
@import "mixens.less";
 

///Page///
.wrapper{
    margin: 300px;
    margin-top: 20px
}

///Images////
img.service-img {
    width: 100%;
}

img.alignnone.size-full.wp-image-27,
img.alignnone.size-full.wp-image-22{
    width:10%;    
}



.service{
    padding: 10px;
}

///Fonts////
h2.title{
    text-align: center;
}

///Footer///
img.foot-logo-img {
    width: 5%;
    padding-top: 10%;
}

///Nav///
nav.nav{
    display: inline-block;
    margin-left: 80%;
    padding-top: 4%;
    text-align: center;
}

